fastapi
uvicorn[standard]
librosa
scikit-learn
numpy<2
pydantic
python-multipart
scipy
soundfile
opencv-python==4.9.0.80
mediapipe
transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
